

.theme-selector {
    display: flex;
    gap: 20px;
}

.theme-card {
    background-color: #ebebeb;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s;
}

.theme-card.selected {
    border-color: #00ff00;
}

.theme-preview {
    height: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avacado-alien {
    background: linear-gradient(to bottom, #b0b0af, #f8f8f8);
}

.rainbow-candy {
    background: linear-gradient(to bottom, #e91e63, #9c27b0);
}

.honeydew-punch {
    background: linear-gradient(to bottom, #011d20, #091f1c);
}

.theme-card p {
    margin: 0;
}

.checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.theme-card.selected .checkmark {
    display: block;
}
