<div class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow">
    <div class="pt-4">
        <h1 class="py-2 title  font-semibold">Appareance settings</h1>
    </div>
    <hr class="mt-4 mb-8" />
    <p class="py-2  sub-title font-semibold">Themes</p>
    <h3 class="py-2  text text-gray-400">Select your default theme</h3>
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
        <div class="theme-selector">
            <div class="theme-card selected">
                <div class="theme-preview avacado-alien"></div>
                <p>Light theme</p>
                <div class="checkmark">✔️</div>
            </div>
            <div class="theme-card">
                <div class="theme-preview honeydew-punch"></div>
                <p>Dark theme</p>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-8" />
    <p class="py-2 sub-title font-semibold">Accent Color</p>
    <h3 class="py-2  text text-gray-400">Highlight color for main objects</h3>
    <div class="flex items-center">
        <div class="flex space-x-4">
            <button class="w-8 h-8 bg-blue-500 rounded-full focus:outline-none"></button>
            <button class="w-8 h-8 bg-indigo-500 rounded-full focus:outline-none"></button>
            <button class="w-8 h-8 bg-green-500 rounded-full focus:outline-none"></button>
            <button class="w-8 h-8 bg-yellow-500 rounded-full focus:outline-none"></button>
          </div>
    </div>
 
    <hr class="mt-4 mb-8" />
    <div class="mb-10">
        <p class="py-2 text-xl font-semibold">Font Style</p>
        <h3 class="py-2  text text-gray-400">Font style for text and headlings</h3>
        <div>
            <!-- Font style -->
        </div>
    </div>
</div>