<!-- <router-outlet></router-outlet> -->
<div>
    <a routerLink="/layout" class="flex items-center space-x-3 rtl:space-x-reverse  w-20">
        <img src="/assets/logo.svg" alt="Flowbite Logo" />
      </a>
</div>
<div class="grid grid-cols-12 max-w-screen-xl justify-between mx-auto p-4 h-screen">
    <div class="col-span-12 md:col-span-3 h-full">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-span-12 md:col-span-9">
        <router-outlet></router-outlet>
    </div>
</div>