<nav class="min-w-80">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="./" class="flex items-center space-x-3 rtl:space-x-reverse  w-20">
      <img src="/assets/logo.svg" alt="Flowbite Logo" />
    </a>
    <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
      <div class="mr-7">
        <a 
          class="flex !bg-blue-50 px-2 items-center text text-black font-bold"
          routerLink="leaderboard"
          >
          <span>Leaderboard</span>
          <mat-icon>assessment</mat-icon>
        </a>
      </div>
      <!-- Dropdown -->
      <div>
        <button mat-button [matMenuTriggerFor]="belowMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="before">
          <div class="profil flex justify-center w-56 py-5">
            <div class="image grid justify-items-center items-center">
              <a routerLink="/settings" class="  rounded-full cursor-pointer">
                <img src={{currentUser?.picture}} alt={{currentUser?.name}} class="w-12 h-12 rounded-full object-cover" />
              </a>
              <!-- <p>{{currentUser?.name}}</p> -->
            </div>
          </div>
          @for (route of routes; track $index) {
            <li>
              <button mat-menu-item>

                @if (route.path == 'logout') {
                  <a (click)="logout()"
                  class="block py-2 px-3  rounded md:bg-transparent text-blue-950 md:p-0 md:dark:text-blue-500"
                  aria-current="page">{{route.label}}</a>
                }@else{
                  <a routerLink="{{route.path}}" routerLinkActive=""
                  class="block py-2 px-3  rounded md:bg-transparent text-blue-950 md:p-0 md:dark:text-blue-500"
                  aria-current="page">{{route.label}}</a>
                }
              </button>
            </li>
          @if ($index==routes.length-2) {
            <mat-divider></mat-divider>
            }
          }

        </mat-menu>
      </div>

    </div>

  </div>
</nav>