.big-title{
    font-size: 3em;
    line-height:1em;
    font-weight: bold;
}
.title {
    font-size: 1.85em;
    line-height: 1.85em;
}
.sub-title{
    font-size:1.3em;
    line-height: 1.3em;
    font-weight:bold;
}
.text{
    font-size: 1.025em;
    line-height: 1.5em;
}

@media (max-width:400px) {
    .big-title{
        font-size: 2em;
        line-height:1em;
        font-weight: bold;
    }
    .title {
        font-size: 1.3em;
        line-height: 1.2em;
    }
    .sub-title{
        font-size:1em;
        line-height: 1em;
        font-weight:bold;
    }
    .text{
        font-size: 0.80em;
        line-height: 0.80em;
    }
}