<div>
    <table mat-table [dataSource]="dataSource">
  
      <!-- ranking Column -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.ranking}} </td>
      </ng-container>
      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef> Picture </th>
        <td mat-cell *matCellDef="let element"> 
          <img [src]="element.Picture" alt="image" class="w-10 h-10 rounded-full" />  
        </td>
      </ng-container>
      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.Nom}} </td>
      </ng-container>
  
      <!-- score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score(%) </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>
  
      <!-- grade Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Grade </th>
        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  