<div class="leaderboard-container">

    <div class="leaderboard-header">
        <p class="title">Leaderboard</p>
    </div>

    <div class="leaderboard-body flex flex-col gap-5">
        <div class="flex flex-wrap gap-5 ">
            @for ( rank of ranks.slice(0,3); track $index) {
            <app-rank class="basis-[20%]" [userData]="rank" ></app-rank>
            }
        </div>
        <div class="leaderboard-list">
            @if (ranks.length) {
                <app-list-rank [ranks]="ranks"></app-list-rank>
            }
        </div>
    </div>
</div>