<h1 class="title">Explications des Émotions (24 Combinaisons)</h1>
<table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg mb-5">
  <thead>
    <tr class="bg-blue-100">
        <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Niveau</th>
        <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Combinaison</th>
        <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Résultat</th>
        <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Explication</th>
    </tr>
</thead>
    <tbody>
        <!-- Dyades primaires -->
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Joie + Confiance</td>
            <td class="px-4 py-2">Amour</td>
            <td class="px-4 py-2">Grande satisfaction et assurance envers quelqu'un ou quelque chose.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Confiance + Peur</td>
            <td class="px-4 py-2">Soumission</td>
            <td class="px-4 py-2">Acceptation mêlée à une certaine crainte.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Peur + Surprise</td>
            <td class="px-4 py-2">Admiration</td>
            <td class="px-4 py-2">Étonnement et respect face à quelque chose de grandiose.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Surprise + Tristesse</td>
            <td class="px-4 py-2">Déception</td>
            <td class="px-4 py-2">Attente non satisfaite causant une surprise négative.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Tristesse + Dégoût</td>
            <td class="px-4 py-2">Remords</td>
            <td class="px-4 py-2">Regret lié à une action ou décision passée.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Dégoût + Colère</td>
            <td class="px-4 py-2">Mépris</td>
            <td class="px-4 py-2">Rejet accompagné de frustration envers une situation.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Colère + Anticipation</td>
            <td class="px-4 py-2">Agressivité</td>
            <td class="px-4 py-2">Préparation intense mêlée à une attitude combative.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Primaire</td>
            <td class="px-4 py-2">Anticipation + Joie</td>
            <td class="px-4 py-2">Optimisme</td>
            <td class="px-4 py-2">Espoir et excitation envers des événements futurs.</td>
        </tr>

        <!-- Dyades secondaires -->
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Secondaire</td>
            <td class="px-4 py-2">Joie + Peur</td>
            <td class="px-4 py-2">Culpabilité</td>
            <td class="px-4 py-2">Satisfaction mêlée à une conscience de mal ou de responsabilité.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Secondaire</td>
            <td class="px-4 py-2">Confiance + Surprise</td>
            <td class="px-4 py-2">Curiosité</td>
            <td class="px-4 py-2">Désir d'en savoir plus avec une attitude ouverte.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Secondaire</td>
            <td class="px-4 py-2">Peur + Tristesse</td>
            <td class="px-4 py-2">Désespoir</td>
            <td class="px-4 py-2">Perte d'espoir intense.</td>
        </tr>
       <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">Secondaire</td>
            <td class="px-4 py-2">Surprise + Dégoût</td>
            <td class="px-4 py-2">Horreur</td>
            <td class="px-4 py-2">Vive répulsion due à un événement inattendu.</td>
        </tr>
    </tbody>
</table>

@if (prompt && sentiments && user) {
    <app-labelisation  [prompt]="prompt" [sentiments]="sentiments" 
        [user]="user" [cursor]="cursor" [type]="type"

        (submitSuccess)="onSubmitSuccess()"
    ></app-labelisation>
<table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg">
        <thead>
          <tr class="bg-blue-100">
              <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Niveau</th>
              <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Combinaison</th>
              <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Résultat</th>
              <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase">Explication</th>
          </tr>
      </thead>
          <tbody>
              <!-- Dyades primaires -->
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Secondaire</td>
                  <td class="px-4 py-2">Tristesse + Anticipation</td>
                  <td class="px-4 py-2">Envie</td>
                  <td class="px-4 py-2">Désir mêlé à l'insatisfaction de ne pas posséder ce que l'on souhaite.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Secondaire</td>
                  <td class="px-4 py-2">Dégoût + Anticipation</td>
                  <td class="px-4 py-2">Cynisme</td>
                  <td class="px-4 py-2">Mépris avec des attentes négatives(commentaire sarcastique ou désabusé sur une situation).</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Secondaire</td>
                  <td class="px-4 py-2">Colère + Confiance</td>
                  <td class="px-4 py-2">Fierté</td>
                  <td class="px-4 py-2">Satisfaction avec une touche combative.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Secondaire</td>
                  <td class="px-4 py-2">Anticipation + Confiance</td>
                  <td class="px-4 py-2">Espoir</td>
                  <td class="px-4 py-2">Attente positive envers l'avenir.</td>
              </tr>
      
              <!-- Dyades tertiaires -->
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Joie + Surprise</td>
                  <td class="px-4 py-2">Ravissement</td>
                  <td class="px-4 py-2">Émerveillement ou enchantement envers une situation agréable.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Confiance + Tristesse</td>
                  <td class="px-4 py-2">Sentimentalité</td>
                  <td class="px-4 py-2">Attachement émotionnel souvent mélancolique.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Peur + Dégoût</td>
                  <td class="px-4 py-2">Honte</td>
                  <td class="px-4 py-2">Sentiment de dégoût et de gêne envers soi-même ou une situation.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Surprise + Colère</td>
                  <td class="px-4 py-2">Indignation</td>
                  <td class="px-4 py-2">Colère mêlée de surprise face à une injustice perçue.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Tristesse + Anticipation</td>
                  <td class="px-4 py-2">Pessimisme</td>
                  <td class="px-4 py-2">Attente d'événements négatifs avec une vision sombre de l'avenir.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Dégoût + Joie</td>
                  <td class="px-4 py-2">Morbidité</td>
                  <td class="px-4 py-2">Fascination ou attirance pour des choses considérées comme sombres.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Colère + Joie</td>
                  <td class="px-4 py-2">Domination</td>
                  <td class="px-4 py-2">Sentiment de supériorité ou de contrôle sur les autres.</td>
              </tr>
             <tr class="border-b hover:bg-gray-50">
                  <td class="px-4 py-2">Tertiaire</td>
                  <td class="px-4 py-2">Anticipation + Peur</td>
                  <td class="px-4 py-2">Anxiété</td>
                  <td class="px-4 py-2">Préoccupation ou inquiétude envers un danger futur.</td>
              </tr>
          </tbody>
</table>

} @else{
   <p>loading.......</p>
}