<h2 class="text-xl font-semibold mb-4">Task1 Contributions</h2>
<ul class="space-y-2">

  @for (prompt of prompts; track $index) {
  @if (prompt.Text) {
  <p [ngClass]=" {
              'mb-2  overflow-hidden   text-gray-700 p-2 rounded cursor-pointer shadow-sm overflow-ellipsis whitespace-nowrap':true,
              'border-blue-500 border-2  ':prompt.id == current
            }" (click)="setCurrent(prompt.id)">{{prompt.Text}}</p>
  }
  }@empty {
  <p class="absolute left-[35%] top-[50%]">Empty ...</p>
  }
</ul>