<div class="container-rank bg-[#edffff] shadow-lg p-3">
    <div class="flex flex-row">
        <div class="basis-[75%]" >
            <div class="user-container my-2">
                <p class="sub-title">{{userData.Nom}}</p>
            </div>
            <div class=" info-container grade-container flex gap-3">
                <div class="h-9 px-5 bg-slate-100 rounded-md grid justify-center content-center p-1">
                    <p class="relative text font-semibold">{{userData.score}}</p>
                </div>
                <div class="w-9 h-9 bg-slate-100 rounded-full grid justify-center content-center ">
                    <p class="relative  text font-semibold">{{userData.grade}}</p>
                </div>
            </div>
        </div>
        <div class="basis-[25%] min-w-5">
            <div>
                <img src="assets/images/medaille_1.png" alt="medaille"/>
            </div>
        </div>
    </div>
</div>