<div class="landing" >
    <!-- Header -->
    <!-- Header -->
    <header class="shadow-md py-4 sticky top-0 right-0 w-full z-50 bg-white">
        <div class="container mx-auto px-4">
            <nav class="flex flex-wrap justify-between items-center">
                <div>
                    <h1 class="text-xl font-semibold">Sentiment Analysis Labeling Tool</h1>
                </div>
                <div class="flex space-x-4">
                    <a href="#about" class="text-gray-700 hover:text-blue-600 font-semibold">About</a>
                    <a href="#contact" class="text-gray-700 hover:text-blue-600 font-semibold">Contact</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="relative image  px-4 my-3 md:my-0 ">
        <!-- Hero Section -->
        <section class="flex flex-col md:flex-row    md:h-[calc(90vh_-_100px)] items-center px-9 container mx-auto ">
            <div class="w-full md:w-1/2 flex justify-center">
                <img src="assets/images/Sentiment analysis-amico.svg" alt="image" class="max-w-full md:max-w-xl" />
            </div>
            <div class="container mx-auto px-4 w-full md:w-1/2">
                <div class="max-w-lg mx-auto">
                    <h2 class="big-title text-2xl md:text-3xl">Help Improve Sentiment Analysis Models</h2>
                    <p class="text-lg md:text-xl mb-8">Label data for sentiment analysis and contribute to improving
                        model
                        accuracy.</p>
                    <a  (click)="login()"  class="text-blue-950 border-2 border-red-950 px-3 py-2 rounded-lg cursor-pointer">Get Started</a>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="h-[70vh] my-6 md:flex-row  flex-wrap flex items-center  container mx-auto">

            <div class="container mx-auto w-full md:w-1/2">
                <h2 class="text-3xl font-semibold mb-8">About</h2>
                <p class="text-gray-700 mb-8">Our labeling tool allows you to contribute to the development of sentiment
                    analysis models by providing labeled data. Simply label the sentiment of the provided text, and your
                    contribution will help improve the accuracy of sentiment analysis algorithms.</p>
                <p class="text-gray-700">Features:</p>
                <ul class="list-disc pl-8 mb-8">
                    <li>Easy-to-use interface for labeling data</li>
                    <li>Contribute to improving sentiment analysis models</li>
                    <li>Track your contributions and progress</li>
                    <li>Join a community of data labelers</li>
                </ul>
                <p class="text-gray-700">Ready to get started? Sign up and start labeling!</p>
            </div>

            <div class=" w-full    md:flex md:w-1/2 hidden justify-center">
                <img src="assets/images/leaderboard.png" alt="image" class="w-1/3 border" />
                <img src="assets/images/workspace.png" alt="image" class="w-1/3 border translate-y-8" />
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="my-6">
            <div class="container mx-auto">
                <h2 class="text-3xl font-semibold mb-8">Contact</h2>
                <p class="text-gray-700 mb-8">Have questions or suggestions? We'd love to hear from you.</p>
                <form action="#" method="POST" class="max-w-lg mx-auto px-3">
                    <div class="mb-4">
                        <label for="name" class="block text-gray-700 font-semibold mb-2">Name</label>
                        <input type="text" id="name" name="name"
                            class="w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-600"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-600"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="message" class="block text-gray-700 font-semibold mb-2">Message</label>
                        <textarea id="message" name="message"
                            class="w-full bg-white border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:border-blue-600"
                            rows="4" required></textarea>
                    </div>
                    <button type="submit"
                        class="outline outline-black px-6 py-2 rounded-sm">Send</button>
                </form>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-8 mt-6">
            <div class="container mx-auto px-4 text-center">
                <p>&copy; 2024 Sentiment Analysis Labeling Tool. All rights reserved.</p>
            </div>
        </footer>

    </main>
</div>