// .image {
//     background:rgba(241, 240, 241, 0),url("../../../assets/images/graph.svg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     backdrop-filter: blur(12px);
// }
.landing {
    background-color: rgba(239, 239, 239, 0.226);
}
.image:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -55;
    opacity: 0.3;
    background-image: url("../../../assets/images/graph.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }