<div class="h-full">
    <div class="grid grid-cols-8 pt-3 sm:grid-cols-10">
        <div class="relative my-4 w-56 sm:hidden">
            <input class="peer hidden" type="checkbox" name="select-1" id="select-1" />
            <label for="select-1"
                class="flex w-full cursor-pointer select-none rounded-lg border p-2 px-3 text-sm text-gray-700 ring-blue-700 peer-checked:ring">Accounts
            </label>
            <svg xmlns="http://www.w3.org/2000/svg"
                class="pointer-events-none absolute right-0 top-3 ml-auto mr-5 h-4 text-slate-700 transition peer-checked:rotate-180"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
            </svg>
            <ul
                class="max-h-0 select-none flex-col overflow-hidden rounded-b-lg shadow-md transition-all duration-300 peer-checked:max-h-56 peer-checked:py-3">
                @for (menuItem of menuItems_; track $index) {
                <li class="mt-3 md:mt-8">
                    <a class="cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition"
                        routerLinkActive="text-blue-700 border-l-blue-700" routerLink="{{menuItem.path}}">
                        {{
                        menuItem.title
                        }}
                    </a>
                </li>
                }
            </ul>
        </div>

        <div class="col-span-2 hidden sm:block">
            <ul>
                @for (menuItem of menuItems_; track $index) {
                <li class="mt-3 md:mt-8">
                    <a class="cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition"
                        routerLinkActive="text-blue-700 border-l-blue-700" routerLink="{{menuItem.path}}">
                        {{
                        menuItem.title
                        }}
                    </a>
                </li>
                }

            </ul>
        </div>
    </div>
</div>