// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aya-gasy-ui-primary: mat.define-palette(mat.$indigo-palette);
$aya-gasy-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aya-gasy-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aya-gasy-ui-theme: mat.define-light-theme((color: (primary: $aya-gasy-ui-primary,
        accent: $aya-gasy-ui-accent,
        warn: $aya-gasy-ui-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($aya-gasy-ui-theme);
@import "./app/@core/variables/global.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

// body {
//   background-color: #ddf4ff;
// }

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'sedan';
  src: url("./assets/fonts/sedan/Sedan-Regular.ttf");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "sedan" !important;
}
.mat-mdc-paginator-page-size{
  display: none !important;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}
