
<div class="min-h-screen p-1 md:p-8">
  <!-- Header -->
  <header class="text-center mb-8">
    <h1 class="text-3xl font-bold">My Contributions</h1>
  </header>

  <!-- Mobile Dropdown for Task1 Contributions -->
  <div class="md:hidden mb-6">
    <label for="task-dropdown" class="block text-lg font-semibold mb-2">Task1 Contributions</label>
    <!-- <select id="task-dropdown" class="w-full border border-gray-300 p-2 rounded-md">
      <option>Ilaina ve ny mihinana fanampin-tsakafo?</option>
      <option>Inona no vokatra tsara ateraky ny lalao malagasy?</option>
      <option>Ahitsio ny diso tsipelina...</option>
      <option>Tohizo izao ohabolana izao...</option>
      <option>Fehezanteny voalohany...</option>
    </select> -->
    <mat-select>
      @for (prompt of contributions.data.prompts; track $index) {
        @if (prompt.Text) {
          <mat-option  class=" overflow-ellipsis whitespace-nowrap" [value]="prompt.id"
          (onSelectionChange)="getPromptAndSentimentsById(prompt.id)"
          >{{prompt.Text}}</mat-option>
        }
        }@empty {
        <p class="absolute left-[35%] top-[50%]">Empty ...</p>
        }
    </mat-select>
  </div>

  <!-- Main Content -->
  <div class="md:flex md:space-x-1">
    <!-- Task List (Hidden on mobile, visible on medium and up) -->
    <app-sidebar-contribution 
    class="hidden md:block w-1/4 bg-white shadow-lg rounded-lg p-4"
    [prompts]="contributions.data.prompts" (onSetCurrent)="getPromptAndSentimentsById($event)">
  </app-sidebar-contribution>
    <!-- Task Detail -->
    <div class="flex-1 bg-white shadow-lg rounded-lg p-4">
      <div class="flex mb-4">
          <button
            [ngClass]="{
              'bg-green-500 text-white': type === 'CREATE',
              'bg-gray-300 text-gray-700': type !== 'CREATE'
            }"
            class="px-4 py-2 rounded mr-2"
            (click)="FilterByType('CREATE')"
          >
            Task 1
          </button>
          <button
            [ngClass]="{
              'bg-green-500 text-white': type === 'UPDATE',
              'bg-gray-300 text-gray-700': type !== 'UPDATE'
            }"
            class="px-4 py-2 rounded mr-2"
            (click)="FilterByType('UPDATE')"
          >
            Task 2
          </button>
        </div>
        
     @if (contributions && sentiments) {
      <div>
          <h3 class="sub-title my-2">Comment</h3>
          <div class="min-h-20 w-[100%] border border-1  flex px-2 py-3"  >
              <small>{{currentPrompt?.prompt.Text}}</small>
          </div>
      </div>
      <div class="mt-4">
          <div class="w-full">
              <p class="sub-title my-2">Labels</p>
              <div class="grid grid-cols-2 md:grid-cols-3">
                  @for (label of currentPrompt.sentiments; track $index) {
                  <p ><mat-checkbox  disabled [checked]='label.isSelected'>{{label.Label}}</mat-checkbox></p>
                  }
              </div>
          </div>
      </div>
     }@else {
      <p class="absolute left-[45%] top-[50%]">Empty ...</p>
     }
    </div>

    
  </div>
</div>


