<div class="labelisation-container w-full">

    <div class="bg-white shadow-md rounded-lg p-6 w-full">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">Instructions d'annotation</h1>
        <p class="text-gray-700 mb-4">
          <span class="font-semibold">Cliquez sur le bouton <span class="text-blue-500">'Skip'</span></span> si :
        </p>
        <ul class="list-disc list-inside pl-4 mb-4 text-gray-700">
          <li>La phrase contient des noms propres.</li>
          <li>La phrase n'a pas de signification.</li>
        </ul>
        <p class="text-gray-700 mb-4">
          <span class="font-semibold">Pour le choix des étiquettes :</span> pour bien annoter chaque phrase, commencez par identifier s'il existe des mots-clés correspondant à chaque étiquette. Par exemple :
        </p>
        <div class="bg-gray-50 p-4 rounded-lg shadow-inner">
          <ul class="list-none space-y-2">
            <li><span class="text-blue-500 font-semibold">optimisme</span> → <span class="italic">"Aza kivy fa..."</span></li>
            <li><span class="text-blue-500 font-semibold">anticipation</span> → <span class="italic">"Efa te..."</span></li>
          </ul>
        </div>
        <p class="text-gray-700 mt-4">
          Cela peut également dépendre du contexte ou de la situation.
        </p>
      </div>
 
    <div class="labelisation-body">
        <!-- <div class="filter-content w-1/2" >
            <mat-form-field class="w-full">
                <mat-label>Choose your task</mat-label>
                <mat-select (selectionChange)="onChangeTask($event)" >
                    <mat-option value="UpdatedCount">Rate</mat-option>
                    <mat-option value="CreatedCount">Contribute</mat-option>
                </mat-select>
              </mat-form-field>
              
        </div> -->
        <div class="w-full">
            <form [formGroup]="labelForms" >
                <div class="grid grid-cols-1  md:grid-cols-2 gap-2">
                    <div class="w-full">
                        <p class="sub-title my-2" >Comment</p>
                        <textarea type="text" formControlName="idPrompt"
                            class="w-full p-2 outline-none  resize-none border-none rounded-lg h-40 text-base  text-gray-500 "
                            readonly="true"></textarea>
                    </div>
                    <div class="w-full">
                        <p class="sub-title my-2">Labels</p>
                        <div class="grid grid-cols-3">
                            @for (data of sentiments; track $index) {
                              @if(data.Label !== "Neutral") {
                                <p formArrayName="idSentiment"><mat-checkbox  (change)="onCheckboxChange($event,  $index)"  [formControlName]="$index" 
                                  >{{data.Label}}</mat-checkbox></p>
                              }
                            }
                        </div>
                    </div>
                </div>
                <div class="flex justify-end gap-3 my-4">
                    <button mat-flat-button color="secondary"  (click)="handleSkip()">
                        Skip
                       </button>
                    <!-- <button mat-flat-button color="warn" (click)="handleSkip()">Skip</button> -->
                    <button mat-flat-button color="primary" [disabled]="isValid" (click)="handleSubmit()">
                      {{ isLoading ? "Loading..." : "Submit Feedback" }}
                    </button>
                   
                  </div>
            </form>
        </div>
    </div>

    <div class="labelisation-footer">

    </div>
</div>